<!-- <h1>My Angular app Tanito and Mosheto</h1>
<courses>Capybaras</courses> 
<favorite [is-favorite]="isFavorite" (starClicked)="onStarCLick()"></favorite>

<ul class="nav nav-pills">
  <li [class.active]="viewMode == 'map'">
    <a (click)="viewMode = 'map'">Map View</a>
  </li>
  <li [class.active]="viewMode == 'list'">
    <a (click)="viewMode = 'list'">List View</a>
  </li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>

<button (click)="loadCourses()">Load courses</button>

<button (click)="onAdd()">Add</button>
<ul>
  <li *ngFor="let course of courses; even as isEven; trackBy: trackCourse">
    {{ course.name }}
    <button (click)="onRemove(course)">Remove</button>
    <button (click)="onChange(course)">Change</button>
    <span *ngIf="isEven">(EVEN)</span>
  </li>
</ul>

<button
  [ngStyle]="{
  'backgroundColor': canSave ? 'blue': 'gray',
  'color': canSave ? 'white' : 'black'
  }"
> -->
  <!-- 
     [style.backgroundColor]="canSave ? 'blue': 'gray'"
    [style.color]="canSave ? 'white': 'black'"  -->
  <!-- [style.fontWeight]="canSave ? 'bold': 'normal'"  -->
<!-- Save
</button>

<input type="text" appInputFormat="'uppercase'">


<contact-form></contact-form> -->

<posts></posts>
