<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>

        <button class="button" (click)="onClickTest()">Display Details</button>  
        <p *ngIf="onClick == true"  ngFor="">Something just for test</p>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
     <li *ngFor="let clicks of clickCounter" [ngStyle]="{'background-color' : clickCounter.length > 5 ? 'blue' 
     : 'none' }"   ngClass="{'background-color' }">  {{ clicks }}</li>
     
     
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
    </div>
  </div>
</div>
